Repository USGS-WiM/StreamStats, pull requests merged in 2023-07, with the labels that each got.

#1656 Fixes 1631: loading spinners
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor

#1659 Fixes #1604 Update Daily Raster Plot (Heatmap) to have more accessible colors
  dist/scripts/custom.min.js
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
Labels: gage plots

#1661 Fixes #1600 - Add prompt for token
  dist/scripts/custom.min.js
  dist/scripts/vendor.min.js
  package-lock.json
  package.json
  src/Controllers/MapController.js
  src/Controllers/MapController.ts
Labels: Culverts

#1662 Fixes #1658 - BP: add stream grids for download
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
  src/appConfig.js
Labels: Batch Processor

#1665 Fixes #1614 Mean August Baseflow - Missing ")"
  CHANGELOG.md
  dist/appConfig.js
  src/appConfig.js
Labels: bug

#1654 Fixes #1651 - BP: Create batch queue management interface
  dist/Views/batchprocessor.html
  dist/appConfig.js
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
  src/appConfig.js
Labels: Batch Processor

#1682 Fixes #1678, #1679, #1680, #1681 Batch Processor bugs
  dist/Views/batchprocessor.html
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor

#1672 Fixes #1671 Display river size class map layer
  CHANGELOG.md
  dist/appConfig.js
  src/appConfig.js
Labels: Sediment

#1687 Fixes #1677
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor

#1690 Fixes #1685 - Error Loading Gage Plots at 01193050
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
Labels: gage plots

#1648 Slider, flood stages, legend, ticks, data labels. Eb 1555 2 #1609 # 1557 # 1555
  package-lock.json
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
  src/Views/gagepage.html
  src/css/main.css
  src/data/gageNumberCrossWalk.json
Labels: gage plots
