Repository USGS-WiM/StreamStats, pull requests merged in 2023-08, with the labels that each got.

#1722 Fixes #1721 Text overflow in warning message modal
  dist/Views/warningmessage.html
  dist/appConfig.js
  dist/scripts/custom.min.js
  dist/scripts/vendor.min.js
  src/Views/warningmessage.html
  src/appConfig.js
  src/config.js
  src/config.ts
  src/index.html
Labels: bug

#1729 Fixes #1727
  dist/Views/batchprocessor.html
  src/Views/batchprocessor.html
Labels: Batch Processor

#1734 Fixes #1732 Uncheck computation boxes after batch submission
  dist/Views/batchprocessor.html
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor

#1735 Fixes #1733 Unable to select some Basin Characteristics in BP list
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
Labels: bug, Batch Processor

#1737 Batch Processor text changes
  dist/Views/batchprocessor.html
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor

#1741 Fixes #1740
  dist/Views/batchprocessor.html
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor

#1748 Fixes #1738, #1739, #1747, #1749 BP scroll bar, BP mobile formatting, updated streamgrid URLS, fix typo
  dist/Views/batchprocessor.html
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Views/batchprocessor.html
Labels: Batch Processor
