Repository USGS-WiM/StreamStats, pull requests merged in 2023-05, with the labels that each got.

#1595 #1590 - Fixes some
  dist/Views/gagepage.html
  dist/Views/scstormrunoff.html
  dist/scripts/custom.min.js
  dist/scripts/vendor.min.js
  dist/styles/custom.min.css
  src/Controllers/SCStormRunoffController.js
  src/Controllers/SCStormRunoffController.ts
  src/Views/scstormrunoff.html
  src/css/custom.css
Labels: South Carolina

#1620 Fixes #1461: Add instructions to BP modal
  src/Controllers/BatchProcessorController.js
  src/Views/batchprocessor.html
Labels: Batch Processor

#1625 Fixes #1607 - Replace Latest Period of Daily Values with Instantaneous Values for Annual Flow Plot with Flood Frequency Statistics
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
Labels: gage plots
