Repository USGS-WiM/StreamStats, pull requests merged in 2024-02, with the labels that each got.

#1940 Closes #1917 - MN Sediment - Add date range selector to modal
  CHANGELOG.md
  src/Controllers/SedimentController.js
  src/Controllers/SedimentController.ts
  src/Views/sedimentview.html
Labels: Sediment

#1942 Fixes #1905
  dist/Views/sidebarview.html
  dist/scripts/custom.min.js
  src/Controllers/MapController.js
  src/Controllers/MapController.ts
  src/Controllers/SidebarController.js
  src/Controllers/SidebarController.ts
  src/Services/StudyAreaService.js
  src/Services/StudyAreaService.ts
  src/Views/sidebarview.html
Labels: South Carolina

#1952 Fixes #1943 - add polyline option for delineation by line
  dist/Views/reportview.html
  dist/Views/sidebarview.html
  dist/appConfig.js
  dist/scripts/custom.min.js
  src/Controllers/MapController.js
  src/Controllers/MapController.ts
  src/Controllers/ReportController.js
  src/Controllers/ReportController.ts
  src/Services/StudyAreaService.js
  src/Services/StudyAreaService.ts
  src/Views/reportview.html
  src/Views/sidebarview.html
  src/appConfig.js
Labels: South Carolina

#1913 Fixes #1707 Gageplots Feedback - Annual Peak Streamflow plot
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
  src/Views/gagepage.html
  src/css/main.css
Labels: gage plots

#1955 Fixes #1944 - adds separate color for each subbasin
  CHANGELOG.md
  code.json
  dist/Views/batchprocessor.html
  dist/appConfig.js
  dist/appConfig_dev.js
  dist/appConfig_test.js
  dist/scripts/custom.min.js
  src/Controllers/MapController.js
  src/Controllers/MapController.ts
  src/Controllers/ReportController.js
  src/Controllers/ReportController.ts
  src/Views/batchprocessor.html
  src/appConfig.js
  src/appConfig_dev.js
  src/appConfig_test.js
Labels: South Carolina

#1960 #1919 SedStats Client changes
  src/Controllers/SedimentController.js
  src/Controllers/SedimentController.ts
  src/Controllers/SidebarController.js
  src/Controllers/SidebarController.ts
  src/Services/StudyAreaService.js
  src/Services/StudyAreaService.ts
  src/Views/sedimentview.html
Labels: Sediment

#1958 Fixes #1912: Add "Loading..." messages to slow functions within Annual Peak Streamflow plot
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
Labels: gage plots

#1910 Fixes #1503 URL parameter to open a gage page
  CHANGELOG.md
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
  src/Controllers/NavbarController.js
  src/Controllers/NavbarController.ts
  src/Services/ModalService.js
  src/Services/ModalService.ts
  src/Services/ProsperService.js
  src/Services/ProsperService.ts
Labels: enhancement, gage plots

#1963 Fixes #1909 URL parameter to open specific tab of gage page
  CHANGELOG.md
  dist/Views/gagepage.html
  dist/scripts/custom.min.js
  src/Controllers/BatchProcessorController.js
  src/Controllers/BatchProcessorController.ts
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
  src/Controllers/NavbarController.js
  src/Controllers/NavbarController.ts
  src/Services/ModalService.js
  src/Services/ModalService.ts
  src/Services/ProsperService.js
  src/Services/ProsperService.ts
  src/Views/gagepage.html
Labels: gage plots

#1965 Fixes #1941 Self-intersections - Basins not merging
  src/Services/StudyAreaService.js
  src/Services/StudyAreaService.ts
Labels: South Carolina

#1967 Fixes #1966 Change line delineation to 3 mile limit
  dist/scripts/custom.min.js
  package-lock.json
  src/Controllers/MapController.js
  src/Controllers/MapController.ts
Labels: South Carolina

#1969 Fixes #1921: Stage vs. Discharge Plot - Move Legend for Age & Quality Data
  src/Views/gagepage.html
  src/config.js
  src/css/main.css
Labels: gage plots

#1973 Fixes #1970: Disable hamburger button options
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
Labels: gage plots

#1974 Fixes #1925 Stage vs. Discharge Plot - Fix plot scale so all values are shown in linear scale
  src/Controllers/GagePageController.js
  src/Controllers/GagePageController.ts
Labels: gage plots
